PAYLOAD_SECRET=replace-me
DATABASE_URI=postgres://replace-me
NEXT_PUBLIC_SITE_URL=https://replace-me.example
S3_BUCKET=replace-me
S3_ENDPOINT=replace-me
S3_ACCESS_KEY_ID=replace-me
S3_SECRET_ACCESS_KEY=replace-me
